<div class="container-cards col-md-8 offset-2">
  <div class="row">
    <h1 class="animate__animated animate__backInRight">My orders</h1>

    <% @orders.each do |order|  %>

    <div class="card mb-3 col-md-6 my-orders-card">
      <div class="row no-gutters card-content">
        <div class="col-md-4 img-section">
          <% if order.project.photo.attached? %>
            <a href="#" class="image">
              <img class="img-1" src="<%= cl_image_path order.project.photo.key, crop: :fill %>">
            </a>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3><%= link_to order.project.name, order_path(order) %></h3>
            <h3 class="status"><%= order.status %></h3>
            <h3 class="comment"><%= order.comment %></h3>
            <div class="date">
              <%= order.starts_at %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
