<div class="col-md-8 offset-2 mt-3">

    <h1 class="animate__animated animate__backInRight">My orders</h1>
    <div class="container-cards">
      <% @orders.each do |order| %>
        <%= link_to order_path(order), { class: "my-orders-card" } do %>
          <div class="card-content">
            <div class="img-section">
              <% if order.project.photo.attached? %>
                <img class="img-1 image" src="<%= cl_image_path order.project.photo.key, crop: :fill %>">
              <% end %>
            </div>
            <div class="card-body">
              <h3 class="order-project-name"><%= order.project.name %></h3>
              <p><%= order.project.description %></p>
              <div class="date">
                <p><span class="bold">Status : </span><span class="status"><%= order.status %></span></h3>
                <p><span class="bold">Starts at : </span><%= order.starts_at %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
