<div class="container col-md-8 offset-2 mt-3">
  <h1>Book a project</h1>
  <div class="row">
    <div class="col-md 6">
      <div class="order-img">
        <%= cl_image_tag @project.photo.key%>
        <p><%=  @project.details %></p>
        <p><i class="fas fa-receipt mr-3"></i><%= @project.price %> $</p>
        <p><i class="far fa-star"></i><%= @project.duration %></p>
      </div>
    </div>

    <div class="col-md 6">
      <%= simple_form_for [@project, @order] do |f| %>

      <%= f.error_notification %>
      <div class="form-inputs">
          <%= f.input :comment %>
          <%= f.input :starts_at %>
      </div>
        <%= f.submit class: "btn btn-gradient mt-3"%>
      <% end %>
    </div>
</div>
