<div class="animation">
  <div class="perspective-text animate__animated animate__zoomInDown">
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective"></p>').html_safe, projects_path %>
      <%= link_to ('<p class="home-perspective">The new way</p>').html_safe, projects_path %>
    </div>
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective">The new way</p>').html_safe, projects_path %>
      <%= link_to ('<p class="home-perspective">to work</p>').html_safe, projects_path %>
    </div>
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective">to work</p>').html_safe, projects_path %>
      <%= link_to ('<p class="home-perspective">with</p>').html_safe, projects_path %>
    </div>
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective">with</p>').html_safe, projects_path %>
      <%= link_to ('<p class="home-perspective">developers</p>').html_safe, projects_path %>
    </div>
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective">developers</p>').html_safe, projects_path %>>
      <p></p>
    </div>
  </div>
</div>
