<h1>Projects page</h1>

<div class="row">
<% @projects.each do |project|  %>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img class="img-1" src="https://media.istockphoto.com/photos/programming-source-code-abstract-background-picture-id1047259374?k=20&m=1047259374&s=612x612&w=0&h=pt3XbBvrmiYgoYmVzsaUeXtV8vw_jJI9Ly8P7AL6Qig=">
                </a>
                <ul class="product-links">
                    <li><%= link_to ('<i class="fa fa-eye"></i>').html_safe, '#' %></li>
                    <li><%= link_to ('<i class="fas fa-shopping-cart"></i>').html_safe, '#' %></li>
                    <li><%= link_to ('<i class="fa fa-heart">').html_safe, '#' %></i></li>
                </ul>
            </div>
            <div class="product-content">
                <h3 class="title"><%= link_to project.name, '#' %>
                <h3 class="description"><%= project.description %></h3>
                <div class="price"><%= project.price %><strong> $ </strong></div>
                <ul class="rating">
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="far fa-star"></li>
                </ul>
            </div>
        </div>
    </div>
    <% end %>
</div>
