<div class="container mt-5">
  <div class="row">
    <div class="col-4 offset-4">
      <h1>Create a new project</h1>

      <%= simple_form_for @project do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">

          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :duration %>
          <%= f.input :details %>
          <%= f.input :photo, as: :file %>
      </div>
        <%= f.submit class: "btn btn-gradient"%>
      <% end %>
    </div>
  </div>
</div>
