<div class="container col-md-8 offset-2 mt-3" >
  <div class="show-content row">
    <div class="col-md-6 project-desc">
      <div class="project-desc-pres">
        <h1><%= @project.name.capitalize %></h1>
        <p><%=  @project.details %></p>
      </div>

      <div class="project-dev-data">
        <div class="project-aside-btns">
          <div class="project-dev">
            <h4>Developer : <strong><%= @project.user.username %></strong></h4>
            <p class="developer-city"><i class="fas fa-map-marker-alt"></i><%= @project.user.city %></p>
            <p><i class="fas fa-receipt"></i><%= @project.price %> $</p>
            <p><i class="far fa-clock"></i><%= @project.duration %></p>
          </div>

          <a href ="#" class="book-btn">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="col-md-6 project-aside">
      <div class="project-img">
        <%= cl_image_tag @project.photo.key, crop: :fill %>
      </div>

      <div id="map"
          style="width: 100%; height: 500px;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

</div>
