<div class="container">
  <div class="show-content row">
    <div class="col-md-6 project-desc">
      <div class="project-desc-pres">
        <h1><%= @project.name.capitalize %></h1>
        <p><%= @project.description.capitalize %></p>
      </div>
      <div class="project-desc-data">
        <h3>Price : </h3><p><%= @project.price %></p>
        <h3>Duration : </h3><p><%= @project.duration %></p>
      </div>
    </div>

    <div class="col-md-6 project-aside">
      <div class="project-img">
        <%= cl_image_tag @project.photo.key, crop: :fill %>
      </div>
      <div class="project-aside-btns">

      </div>
    </div>
  </div>

</div>
