<div class="container mt-3">
  <div class="show-content row">
    <div class="col-md-6 project-desc">
      <div class="project-desc-pres">
        <h1><%= @project.name.capitalize %></h1>
        <p><%=  @project.details %></p>
      </div>
      <div class="project-desc-data">
        <h4>Price : </h4><p><%= @project.price %></p>
        <h4>Duration : </h4><p>about <%= @project.duration %></p>
      </div>
    </div>

    <div class="col-md-6 project-aside">
      <div class="project-img">
        <%= cl_image_tag @project.photo.key, crop: :fill %>
      </div>
      <div class="project-aside-btns">
        <div class="project-dev">
          <h4>Developer : <strong><%= @project.user.username %></strong></h4>
          <span class="developer-city"><%= image_tag "icons/pin.png" %><%= @project.user.city %></span>
        </div>
        <a href ="#" class="book-btn">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
    </div>
  </div>

</div>
